h1 {text-align: center}
img {margin-left: 150px;margin-top: 20px;text-align: left;margin-right:200px;margin-bottom::200px; }
div	{background-image: url("pastel2.jpg");}
p {word-spacing:5px;margin-right: 200px;margin-top: 40px;margin-left: 75px;font-family: comic sans ms;margin-bottom: 100px }