img {margin-left: 350px;margin-top: 1px;margin-right:200px;margin-bottom: 75px }
div	{background-image: url("pastel2.jpg");}
h1 {text-align: center}
p {word-spacing:5px;margin-right: 200px;margin-top: 40px;margin-left: 75px;font-family: comic sans ms;margin-bottom: 100px }

