div	{background-image: url("pastel2.jpg");}
h1 {text-align: center;font-family:Trebuchet MS}

img {text-align: left;margin-top: 80px}
p {margin-right: 800px;margin-bottom: 200px;margin-top: 160px}
p {word-spacing: 15px;font-family:comic sans ms }

